body{
    background-color: white;
    display:flex;
    flex-direction:column;    
    min-height: 110vh;
    width: 100%;
}

main{
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 34%);
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a, td, th, p, button, span, label, select, input, textarea, li{
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:hover, a:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
}

img{
    object-fit: cover;
    max-width: 100%;
}

video{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    width: 80%;
}

.header-menu nav ul{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.header-menu nav ul li a{
    color:hsl(0, 0%, 66%);
    font-size: 1rem;
    text-transform: uppercase;
}

.header-checkout button{
    border-radius: 30px;
    background-color:hsl(27, 87%, 47%) ;
    padding: 0.6rem 1rem;
    text-align: center;
    width:100%;
    border:none;
    color: white;
}

.slider{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 65vh;
    overflow: hidden;
    width:100%;
}

.slider-title{
    position: absolute;
    text-align: center;
    left: 10%;
    top: 23%;
    z-index: 1001;
}

.slider-title h1{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}

.slider-description{
    position: absolute;
    text-align: center;
    width: 50%;
    left: 5%;
    top: 40%;
    z-index:1001;
}

.slider-description p{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 160%;
}

.slider-button{
    position: absolute;
    border-radius: 35px;
    background-color:hsl(207, 76%, 53%);
    padding: 0.6rem 1rem;
    text-align: center;
    border:none;
    color: white;
    width:22%;
    left: 18%;
    z-index: 1001;
    top: 60%;
}

.slider-button button{
    border-radius: 30px;
    background-color: hsl(207, 76%, 53%);
    cursor: pointer;
    text-align: center;
    border:none;
    color: white;
    width:100%;
    font-size:1.7rem;
    height:3rem;
}

.slider-image{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.slider-image a{
    justify-content: center;
}

.featured{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5% 20% 15%;
    text-align: center;
    align-items: center;
}

.featured-title{
    padding:0 0 1%;
}

.featured-title h2{
    font-size:3rem;
    color:rgb(61, 61, 61);
    text-transform: uppercase;

}

.featured-description{
    width:73%;
}

.featured-description p{
    font-size:1.3rem;
    font-weight:100;
    color:rgb(143, 143, 143);
    word-spacing:0.2em;
    line-height:1.7em;
}

.featured-items{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:7%;
}

.three-columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:20rem;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:25%;
    align-items: center;
    height:100%;
}

.featured-item{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    height:100%;
}

.featured-item-image{
    width:50%;
    height:40%;
    align-items: center;
}

.featured-item-image img{
    height:100%;
}

.featured-item-title{
    margin:20% 0 5%;
}

.featured-item-title h3{
    font-size:1.6rem;
    
}

.featured-item-description{
    width:100%;
}

.featured-item-description p{
    font-weight:100;
    word-spacing: 0,8em;
    line-height:1.6em;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.details-item{
    display: flex;
}

.detail-items-image{

}

.detail-items-image svg{

}

.detail-items-text{
    display: flex;
}

.detail-items-text-title{

}

.detail-items-text-description{

}

.team{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.team-title{

}

.team-description{

}

.four-columns{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.team-member{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.team-member-image{

}

.team-member-image picture a{

}

.team-member-title{

}

.team-member-description{

}

.team-member-socials{

}

.nav-icon{

}

.contact{
    display: flex;
}

.contact-map{

}

.contact-card{
    display: flex;
}

.contact-card-front{

}

.contact-card-title{

}

.contact-card-details{
    display: flex;
}

.contact-card-details-item{

}

.contact-card-details-item-image{

}

.contact-card-details-item-image svg{

}

.contact-card-details-item-description{

}

.contact-card-checkout{

}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-socials{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-socials nav ul{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    gap:2em;
}

.footer-socials nav ul li a{

}

.footer-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer-menu nav ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:2em;
}

.footer-menu nav ul li a{

}

.footer-text{

}