footer{
    display:flex;
    height:10%;
    flex: row;
    justify-content: center;
    align-items: center;
}

.footer-socials{
    display:flex;
    margin-top:13rem;
    justify-content: center;
    align-items: center;
}

.footer-socials nav{
    align-items:center;
    justify-content: center;
}

.footer-socials nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;
    align-items: center;
    padding-left: 25%;
    padding-right:25%;

}

.footer-socials nav ul li{
    width:50%;
    align-items: center;
    justify-content: center;
}

.footer-socials nav ul li svg{
    width:20%;
}