html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* List
==============================================================================*/
ol, ul {
  list-style: none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: hsl(0, 0%, 34%);
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h5, h6 {
  font-family: "Poppins", sans-serif;
}

a, td, th, p, button, span, label, select, input, textarea, li {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

h4 {
  font-weight: 600;
  text-decoration: none;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
}

a:hover, a:focus {
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
}

video {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: rgb(61, 61, 197);
  border-radius: 5px;
}

.header-title {
  padding-left: 10%;
}

.header-title h1 {
  color: white;
}

.hamburger {
  height: 2rem;
  width: 10%;
  position: relative;
}

.hamburger .line {
  display: block;
  background-color: hsl(192, 15%, 94%);
  width: 30%;
  height: 0.3rem;
  position: absolute;
  left: 85%;
  border-radius: 0.25rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.hamburger .line.line-1 {
  top: 10%;
}

.hamburger .line.line-2 {
  top: 50%;
}

.hamburger .line.line-3 {
  top: 90%;
}

.hamburger:hover .line-1, .hamburger:focus .line-1 {
  transform: translateY(-0.25rem);
  -webkit-transform: translateY(-0.25rem);
  -moz-transform: translateY(-0.25rem);
}

.hamburger:hover .line-3, .hamburger:focus .line-3 {
  transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
}

.hamburger.active .line-1 {
  transform: translateY(0.65rem) translateX(0) rotate(45deg);
  -webkit-transform: translateY(0rem) translateX(0rem) rotate(45deg);
  -moz-transform: translateY(0.65rem) translateX(0) rotate(45deg);
  top: 25%;
}

.hamburger.active .line-2 {
  opacity: 0;
}

.hamburger.active .line-3 {
  transform: translateY(-0.65rem) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-0.32rem) translateX(0px) rotate(-45deg);
  -moz-transform: translateY(-0.65rem) translateX(0) rotate(-45deg);
  top: 40%;
}

body {
  background-color: rgb(61, 61, 197);
  flex-direction: column;
  min-height: 90vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header section {
  width: 10%;
}

section {
  width: 100%;
}

.filter {
  width: 90%;
  height: 3rem;
  background-color: white;
  align-items: center;
  border-radius: 5px;
}

.filter svg {
  width: 2%;
  padding: 0.5% 48% 0 48%;
  fill: rgb(119, 173, 193);
}

.client-item-images svg {
  width: 7%;
  fill: white;
}

.client-item {
  width: 90%;
  height: 30%;
}

.client-item-images {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
  background-color: rgb(119, 173, 193);
}

.client-item-data {
  height: 65%;
  width: 100%;
  background-color: rgb(96, 105, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.client-item-data-row {
  width: 95%;
  height: 30%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.client-item-data-row p {
  color: white;
  font-size: 1.3rem;
}

.info {
  height: 90%;
}

.data-management {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  width: 90%;
  margin-top: 2%;
}

.client-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.client-form {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.image-menu-title {
  width: 12%;
  background-color: rgb(119, 173, 193);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.image-menu-title h3 {
  text-align: center;
  padding-left: 10%;
  color: white;
}

.image-input {
  width: 80%;
  height: 2.7rem;
}

.image-input input {
  width: 99%;
  height: 95%;
  border-style: none;
  font-weight: 800;
}

.image-menu svg {
  width: 5%;
  fill: rgb(119, 173, 193);
}

.form-row {
  display: flex;
  height: 45%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.form-element {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.element-placeholder {
  height: 20%;
  margin: 1% 0 1%;
  width: 100%;
}

.element-placeholder p {
  font-size: 1.2rem;
  color: white;
}

.form-element input {
  height: 40%;
  border-radius: 7px;
  border-style: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(96, 105, 201);
}

/*# sourceMappingURL=app.css.map */
