.overlay{
    background-color: hsla(0, 0%, 100%);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    display: none;
}

.overlay.active{
    background-color: hsla(0, 0%, 100%);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    display: block;
}

.modal{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 60vh;
    left: 20%;
    position: fixed;
    top: 20%;
    box-shadow: 0rem 0rem 2rem 1rem hsl(0, 0%, 62%);
}

.image-column{
    display:flex;
    justify-content:space-between;
    height:100%;
    width:85%;
    align-items:center;
}

.image-column picture{
    margin-left:2rem;
    width:80%;
    align-items: end;
}

.checkout-cross{
    height:5%;
    width:10%;
    padding-left: 50%;
    position:absolute;
    z-index: 30001;
}

.checkout-cross svg{
    width:2rem;
    fill: grey;
}

.modal-mother-column{
    display:flex;
    justify-content:space-between;
    width:80%;
    align-items:center;
    height:100%;
    flex-direction: column;
    overflow: hidden;

}

.modal-column{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
    height:100%;
    transition: 0.7s;
}

.modal-column.active{
    transform: translateY(-100%);
    transition: 0.7s;
}

.modal-item{
    height:100%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.modal-item-title{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:90%;
    position:relative;
    height:15%;
}

.modal-item-title h2{
    position:absolute;
    top:40%;
    text-transform: uppercase;
    font-size: 2.5rem;
    color:hsl(0, 0%, 21%);
}

.modal-item-title h3{
    position:absolute;
    top:0%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight:370;
    color: grey;
}

.modal-item-title h4{
    position:absolute;
    top:100%;
    text-transform: uppercase;
    font-weight:100;
}

.modal-item-price{
    width:20%;
    margin-left:3rem;
    margin-top: 4rem;
}

.modal-item-price h2{
    color: $primary-color;
    font-size:2.8rem;

}

.modal-item-offer{
    width:23%;
    background-color: $secondary-color;
    text-align: center;
    margin-right:35%;
    border-radius: 2px;
    height: 0.9rem;
    margin-top: 4rem;
}
.modal-item-offer h3{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
}

.tabs{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    width:90%;
    margin-top:1rem;
}

.tabs-header{
    width:90%;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    height:20%;
}

.tab{
    width:30%;
}

.tab button{
    background-color: $primary-color;
    border-radius: 5px;
    border:none;
    width:100%;
    height:100%;
}

.tab button.active{
    border-radius: 5px;
    border:none;
    width:100%;
    height:100%;
    background-color: $secondary-color;
}

.tab button p{
    color:white;
}

.tabs-contents{
    height:65%;
}

.tab-content{
    position: relative;
    height:16%;
    width:39%;
    border-radius: 5px;
}

.tab-content.length{
    position: absolute;
    opacity: 0;
}

.tab-content p{
    color: white;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tab-content.length.active{
    opacity: 1;
    background-color: $secondary-color;
}

.tab-content.address{
    position: absolute;
    opacity: 0;
}

.tab-content.address.active{
    opacity: 1;
    background-color: $secondary-color;
}

.tab-content.required{
    position: absolute;
    opacity: 0;
    background-color: $secondary-color;
}

.tab-content.required.active{
    opacity:1;
}

.modal-item-button{
    width:90%;
    height:5rem;
    margin-top: 2rem;
}

.modal-item-button button{
    width: 100%;
    height:100%;
    background-color: $primary-color;
    font-size: 1.7rem;
    color:white;
    border:none;
    border-radius: 5px;
}

.plus-minus-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:90%;
    margin-top: 1rem;
    height:6%;
}
.plus-minus-button input{
    width:10%;
    height:85%;
   text-align: center;
}

.plus-button{
    height: 100%;
    width: 7%;
}

.plus-button button{
    height: 100%;
    border:none;
    background-color: $primary-color;
    border-radius: 5px;
    width:100%;
    color:white;
}

.minus-button{
    height: 100%;
    width: 7%;
}

.minus-button button{
    height:100%;
    height: 100%;
    border:none;
    background-color: $primary-color;
    border-radius: 5px;
    width:100%;
    color:white;
}

.formulario{
    height:90%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top:2rem;
    width:90%;
}

.goback-button{
    height:8%;
    display: flex;
    justify-content:center;
}

.goback-button button{
    height:100%;
    border-radius: 10px;
    border-width: 3px;
    border-color: $primary-color;
}

.data-name{
 height:10%;
 display: flex;
 justify-content: space-between;
}

.data-name input{
    height:2.5rem;
    width:40%;
    padding-left:5%;
}

.data-address{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:35%;
}

.data-address input{
    height:2.5rem;
    padding-left:5%;
}

.data-postal{
    height:10%;
    display: flex;
    justify-content: space-between;
}

.data-postal input{
    height:2.5rem;
    width:40%;
    padding-left:5%;
}

.purchase-button{
    height:5rem;
    display: flex;
    justify-content:center;
    width:100%;
}

.purchase-button button{
    width: 100%;
    height:100%;
    background-color: $primary-color;
    font-size: 1.7rem;
    color:white;
    border:none;
    border-radius: 5px;
}