.modal{
    display: flex;
    justify-content: space-between;
    background-color:grey;
    height:10%;
    align-items:center;
    width:40%;
    padding:0, 30%;
}

.image-column{

}

.image-column picture{

}

.modal-column{

}

.modal-item{

}

.modal-item-title{

}

.modal-item-title h2{

}

.modal-item-title h3{

}

.modal-item-title h4{

}

.modal-item-prize{

}

.modal-item-price h2{

}

.modal-item-offer{

}

.modal-item-offer h3{

}

.modal-item-description{

}

.modal-item-description p{

}

.modal-item-button{

}

.modal-item-button button{

}