header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    width: 80%;
}

.header-menu nav ul{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.header-menu nav ul li a{
    color:hsl(0, 0%, 66%);
    font-size: 1rem;
    text-transform: uppercase;
}

.header-checkout button{
    border-radius: 30px;
    background-color:$secondary-color ;
    padding: 0.6rem 1rem;
    text-align: center;
    width:100%;
    border:none;
    color: white;
}