body{
    background-color:rgb(61, 61, 197);
    flex-direction:column;    
    min-height: 90vh;
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: space-between;
    gap:5rem;
}

main{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

header section{
    width:10%;
}

section{
    width:100%;
}