html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* List
==============================================================================*/
ol, ul {
  list-style: none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: hsl(0, 0%, 34%);
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h5, h6 {
  font-family: "Poppins", sans-serif;
}

a, td, th, p, button, span, label, select, input, textarea, li {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

h4 {
  font-weight: 600;
  text-decoration: none;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
}

a:hover, a:focus {
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
}

video {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  width: 80%;
}

.header-menu nav ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.header-menu nav ul li a {
  color: hsl(0, 0%, 66%);
  font-size: 1rem;
  text-transform: uppercase;
}

.header-checkout button {
  border-radius: 30px;
  background-color: hsl(27, 87%, 47%);
  padding: 0.6rem 1rem;
  text-align: center;
  width: 100%;
  border: none;
  color: white;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 110vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  justify-content: center;
}

footer {
  display: flex;
  height: 10%;
  flex: row;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  display: flex;
  margin-top: 13rem;
  justify-content: center;
  align-items: center;
}

.footer-socials nav {
  align-items: center;
  justify-content: center;
}

.footer-socials nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
}

.footer-socials nav ul li {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.footer-socials nav ul li svg {
  width: 20%;
}

.overlay {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  display: none;
}

.overlay.active {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  display: block;
}

.modal {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 60vh;
  left: 20%;
  position: fixed;
  top: 20%;
  box-shadow: 0rem 0rem 2rem 1rem hsl(0, 0%, 62%);
}

.image-column {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 85%;
  align-items: center;
}

.image-column picture {
  margin-left: 2rem;
  width: 80%;
  align-items: end;
}

.checkout-cross {
  height: 5%;
  width: 10%;
  padding-left: 50%;
  position: absolute;
  z-index: 30001;
}

.checkout-cross svg {
  width: 2rem;
  fill: grey;
}

.modal-mother-column {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.modal-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
  transition: 0.7s;
}

.modal-column.active {
  transform: translateY(-100%);
  transition: 0.7s;
}

.modal-item {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.modal-item-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
  position: relative;
  height: 15%;
}

.modal-item-title h2 {
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: hsl(0, 0%, 21%);
}

.modal-item-title h3 {
  position: absolute;
  top: 0%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 370;
  color: grey;
}

.modal-item-title h4 {
  position: absolute;
  top: 100%;
  text-transform: uppercase;
  font-weight: 100;
}

.modal-item-price {
  width: 20%;
  margin-left: 3rem;
  margin-top: 4rem;
}

.modal-item-price h2 {
  color: hsl(207, 76%, 53%);
  font-size: 2.8rem;
}

.modal-item-offer {
  width: 23%;
  background-color: hsl(27, 87%, 47%);
  text-align: center;
  margin-right: 35%;
  border-radius: 2px;
  height: 0.9rem;
  margin-top: 4rem;
}

.modal-item-offer h3 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
}

.modal-item-button {
  width: 90%;
  height: 5rem;
  margin-top: 2rem;
}

.modal-item-button button {
  width: 100%;
  height: 100%;
  background-color: hsl(207, 76%, 53%);
  font-size: 1.7rem;
  color: white;
  border: none;
  border-radius: 5px;
}

.goback-button {
  height: 8%;
  display: flex;
  justify-content: center;
}

.goback-button button {
  height: 100%;
  border-radius: 10px;
  border-width: 3px;
  border-color: hsl(207, 76%, 53%);
}

.slider {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 65vh;
  overflow: hidden;
  width: 100%;
}

.slider-title {
  position: absolute;
  text-align: center;
  left: 10%;
  top: 23%;
  z-index: 1001;
}

.slider-title h1 {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}

.slider-description {
  position: absolute;
  text-align: center;
  width: 50%;
  left: 5%;
  top: 40%;
  z-index: 1001;
}

.slider-description p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 160%;
}

.slider-button {
  position: absolute;
  border-radius: 35px;
  background-color: hsl(207, 76%, 53%);
  padding: 0.6rem 1rem;
  text-align: center;
  border: none;
  color: white;
  width: 22%;
  left: 18%;
  z-index: 1001;
  top: 60%;
}

.slider-button button {
  border-radius: 30px;
  background-color: hsl(207, 76%, 53%);
  cursor: pointer;
  text-align: center;
  border: none;
  color: white;
  width: 100%;
  font-size: 1.7rem;
  height: 3rem;
}

.slider-image {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: initial;
  visibility: visible;
  opacity: 1;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider-image a {
  justify-content: center;
}

.contact {
  height: 5%;
  position: relative;
  width: 100%;
  margin-bottom: 35em;
}

.contact-map {
  position: absolute;
  width: 100%;
  height: 75rem;
  z-index: 1000;
}

.contact-map iframe {
  width: 100%;
  height: 50%;
}

.contact-card {
  display: flex;
  position: absolute;
  z-index: 1001;
  background-color: white;
  width: 30%;
  top: 6em;
  left: 33%;
  padding: 2% 2%;
  height: 23em;
  flex-direction: column;
  align-items: left;
  position: absolute;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.contact-card-front {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: 1s;
}

.contact-card.active .contact-card-front {
  transform: perspective(1000px) rotateY(180deg);
}

.contact-card-title h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-card-details {
  display: flex;
  flex-direction: column;
}

.contact-card-details-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.contact-card-details-item-image {
  height: 3em;
  width: 5%;
}

.contact-card-details-item-description {
  width: 91%;
}

.contact-card-back {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: 1s;
}

.contact-card.active .contact-card-back {
  transform: perspective(1000px) rotateY(0deg);
  height: 10rem;
}

.contact-card-checkout {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.contact-card-checkout button {
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: hsl(207, 76%, 53%);
  border: none;
  border-radius: 5px;
  color: white;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 18em 0 18em;
  height: 40em;
  margin-top: 5rem;
}

.details-column {
  width: 32%;
}

.details-item {
  display: flex;
  justify-content: space-between;
  height: 11em;
}

.detail-items-image {
  width: 13%;
}

.detail-items-image svg {
  width: 100%;
  fill: hsl(207, 76%, 53%);
}

.detail-items-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
  width: 75%;
}

.detail-items-text-title {
  margin-bottom: 0.7rem;
}

.detail-items-text-description p {
  font-weight: 100;
  color: rgb(143, 143, 143);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  word-spacing: 0, 5rem;
}

.details-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.details-image picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 8rem 0 10rem;
}

.faq {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
}

.faq-title {
  align-items: center;
}

.faq-title h2 {
  font-size: 3rem;
  word-spacing: 0.05rem;
  color: hsl(0, 0%, 25%);
}

.faq-description {
  align-items: center;
  width: 40%;
}

.faq-description p {
  font-size: 1.1rem;
  color: hsl(0, 0%, 53%);
  text-align: center;
  line-height: 2rem;
  margin-bottom: 5rem;
}

.faq-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 73%;
}

.faq-item {
  display: flex;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 20rem;
  min-height: 7rem;
}

.faq-item-title {
  width: 90%;
  border-bottom: 1px solid gray;
  height: 50%;
}

.faq-item-title h3 {
  font-size: 1.6rem;
  color: hsl(0, 0%, 25%);
}

.faq-item-description {
  height: 0;
  opacity: 0;
  transition: 0.5s;
}

.faq-item-description.active {
  width: 92%;
  height: 100%;
  opacity: 1;
}

.faq-item-description p {
  margin: 1.5rem 0 4rem;
  color: hsl(0, 0%, 57%);
  word-spacing: 0.2rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.plus-minus-toggle {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
}

.plus-minus-toggle::before,
.plus-minus-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: black;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.plus-minus-toggle::before {
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
}

.plus-minus-toggle::after {
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(90deg);
}

.plus-minus-toggle.active::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.plus-minus-toggle.active::after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.plus-minus-toggle.active::before {
  opacity: 0;
}

.featured {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5% 20% 0;
  text-align: center;
  align-items: center;
}

.featured-title {
  padding: 0 0 1%;
}

.featured-title h2 {
  font-size: 3rem;
  color: rgb(61, 61, 61);
  text-transform: uppercase;
}

.featured-description {
  width: 73%;
}

.featured-description p {
  font-size: 1.3rem;
  font-weight: 100;
  color: hsl(0, 0%, 56%);
  word-spacing: 0.2em;
  line-height: 1.7em;
}

.featured-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  align-items: center;
  height: 100%;
}

.featured-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
}

.featured-item-image {
  width: 50%;
  height: 40%;
  align-items: center;
}

.featured-item-image img {
  height: 65%;
  padding-top: 40%;
}

.featured-item-title {
  margin: 20% 0 5%;
}

.featured-item-title h3 {
  font-size: 1.6rem;
}

.featured-item-description {
  width: 100%;
}

.featured-item-description p {
  font-weight: 100;
  word-spacing: 0, 8em;
  line-height: 1.6em;
}

.team {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 16%;
  margin-bottom: 10em;
}

.team-title {
  margin-bottom: 1em;
}

.team-title h2 {
  text-transform: uppercase;
  color: rgb(39, 39, 39);
  font-size: 3rem;
}

.team-description {
  width: 60%;
  margin-bottom: 5rem;
}

.team-description h3 {
  font-weight: 100;
  word-spacing: 0.2rem;
  line-height: 1.8rem;
  color: hsl(0, 0%, 56%);
  text-align: center;
}

.four-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
  height: 24rem;
}

.team-column {
  height: 100%;
  width: 100%;
}

.team-member {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  position: relative;
}

.team-member-socials {
  background-color: grey;
  border-radius: 50px;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  z-index: 1001;
}

.team-member-socials.active {
  background-color: grey;
  border-radius: 50px;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 7rem;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.team-member-hamburger {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.team-member-hamburger .line {
  display: block;
  background: #ecf0f1;
  width: 100%;
  height: 0.12rem;
  position: absolute;
  left: 0;
  border-radius: 0.25rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.team-member-hamburger .line.line-1 {
  top: 10%;
}

.team-member-hamburger .line.line-2 {
  top: 40%;
}

.team-member-hamburger .line.line-3 {
  top: 70%;
}

.team-member-hamburger:hover .line-1, .team-member-hamburger:focus .line-1 {
  transform: translateY(-0.25rem);
  -webkit-transform: translateY(-0.25rem);
  -moz-transform: translateY(-0.25rem);
}

.team-member-hamburger:hover .line-3, .team-member-hamburger:focus .line-3 {
  transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
}

.team-member-hamburger.active .line-1 {
  transform: translateY(0.65rem) translateX(0) rotate(45deg);
  -webkit-transform: translateY(0rem) translateX(0rem) rotate(45deg);
  -moz-transform: translateY(0.65rem) translateX(0) rotate(45deg);
  top: 25%;
}

.team-member-hamburger.active .line-2 {
  opacity: 0;
}

.team-member-hamburger.active .line-3 {
  transform: translateY(-0.65rem) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-0.32rem) translateX(0px) rotate(-45deg);
  -moz-transform: translateY(-0.65rem) translateX(0) rotate(-45deg);
  top: 40%;
}

.team-member-image {
  z-index: 999;
  width: 100%;
}

.team-member-description h4 {
  color: hsl(0, 0%, 57%);
  font-weight: 100;
}

.team-member svg {
  width: 100%;
  fill: white;
  opacity: 0;
}

.team-member svg.active {
  opacity: 1;
}

.notification {
  background-color: hsl(0, 0%, 100%);
  height: 10vh;
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  width: 100%;
  z-index: 3001;
  display: none;
  width: 20%;
}

.notification.active {
  height: 10vh;
  position: fixed;
  bottom: 10rem;
  right: 5rem;
  width: 100%;
  z-index: 3001;
  display: block;
  width: 10%;
  border-radius: 5px;
  transition: 0.7s;
}

.notification.success {
  background-color: hsl(207, 76%, 53%);
}

.notification.error {
  background-color: hsl(27, 87%, 47%);
}

.notification p {
  color: white;
  width: 80%;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  padding: 10%;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  width: 90%;
  margin-top: 1rem;
}

.tabs-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 20%;
}

.tab {
  width: 30%;
}

.tab button {
  background-color: hsl(207, 76%, 53%);
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 100%;
}

.tab button.active {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: hsl(27, 87%, 47%);
}

.tab button p {
  color: white;
}

.tabs-contents {
  height: 65%;
}

.tab-content {
  position: relative;
  height: 16%;
  width: 39%;
  border-radius: 5px;
}

.tab-content.length {
  position: absolute;
  opacity: 0;
}

.tab-content p {
  color: white;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tab-content.length.active {
  opacity: 1;
  background-color: hsl(27, 87%, 47%);
}

.tab-content.address {
  position: absolute;
  opacity: 0;
}

.tab-content.address.active {
  opacity: 1;
  background-color: hsl(27, 87%, 47%);
}

.tab-content.required {
  position: absolute;
  opacity: 0;
  background-color: hsl(27, 87%, 47%);
}

.tab-content.required.active {
  opacity: 1;
}

.formulario {
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  width: 90%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-row .form-element {
  width: 100%;
}

.form-row input {
  box-sizing: border-box;
  width: 100%;
}

.plus-minus-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 1rem;
  height: 6%;
}

.plus-minus-button input {
  width: 10%;
  height: 85%;
  text-align: center;
}

.plus-button {
  height: 100%;
  width: 7%;
}

.plus-button button {
  height: 100%;
  border: none;
  background-color: hsl(207, 76%, 53%);
  border-radius: 5px;
  width: 100%;
  color: white;
}

.minus-button {
  height: 100%;
  width: 7%;
}

.minus-button button {
  height: 100%;
  height: 100%;
  border: none;
  background-color: hsl(207, 76%, 53%);
  border-radius: 5px;
  width: 100%;
  color: white;
}

/*# sourceMappingURL=app.css.map */
