.client-item-images svg{
    width:2%;
}

.client-column{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:100%;
}

.client-item{
    
}

.client-item-images{

}

.client-item-data{

}

.client-item-data-row{

}

.info{

}

