.client-item-images svg{
    width:7%;
    fill:white;
}

.client-item{
    width:90%;
    height:30%;
}

.client-item-images{
    height:25%;
    display:flex;
    flex-direction: row;
    justify-content: end;
    gap:0.5rem;
    background-color: rgb(119, 173, 193);
}

.client-item-data{
    height:65%;
    width:100%;
    background-color:rgb(96, 105, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.client-item-data-row{
    width:95%;
    height:30%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.client-item-data-row p{
    color:white;
    font-size: 1.3rem;
}

.info{
    height:90%;
}

