.formulario{
    height:90%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    margin-top:2rem;
    width:90%;
}

.form-row{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-row .form-element{
    width: 100%;
}

.form-row input{
    box-sizing: border-box;
    width: 100%;
}
