.overlay{
    background-color: hsla(0, 0%, 100%);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    display: none;
}

.overlay.active{
    background-color: hsla(0, 0%, 100%);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    display: block;
}

.modal{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 60vh;
    left: 20%;
    position: fixed;
    top: 20%;
    box-shadow: 0rem 0rem 2rem 1rem hsl(0, 0%, 62%);
}

.image-column{
    display:flex;
    justify-content:space-between;
    height:100%;
    width:85%;
    align-items:center;
}

.image-column picture{
    margin-left:2rem;
    width:80%;
    align-items: end;
}

.checkout-cross{
    height:5%;
    width:10%;
    padding-left: 50%;
    position:absolute;
    z-index: 30001;
}

.checkout-cross svg{
    width:2rem;
    fill: grey;
}

.modal-mother-column{
    display:flex;
    justify-content:space-between;
    width:80%;
    align-items:center;
    height:100%;
    flex-direction: column;
    overflow: hidden;
}

.modal-column{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
    height:100%;
    transition: 0.7s;
}

.modal-column.active{
    transform: translateY(-100%);
    transition: 0.7s;
}

.modal-item{
    height:100%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.purchase-menu{
    height:100%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-item-title{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:90%;
    position:relative;
    height:15%;
}

.modal-item-title h2{
    position:absolute;
    top:40%;
    text-transform: uppercase;
    font-size: 2.5rem;
    color:hsl(0, 0%, 21%);
}

.modal-item-title h3{
    position:absolute;
    top:0%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight:370;
    color: grey;
}

.modal-item-title h4{
    position:absolute;
    top:100%;
    text-transform: uppercase;
    font-weight:100;
}

.modal-item-price{
    width:20%;
    margin-left:3rem;
    margin-top: 1rem;
}

.modal-item-price h2{
    color: hsl(207, 76%, 53%);
    font-size:2.8rem;

}

.modal-price{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
}

.modal-item-offer{
    width:23%;
    background-color: hsl(27, 87%, 47%);
    text-align: center;
    margin-right:35%;
    border-radius: 2px;
    height: 0.9rem;
    margin-top: 1rem;
}
.modal-item-offer h3{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
}

.modal-item-button{
    width:90%;
    height:5rem;
}

.modal-item-button button{
    width: 100%;
    height:100%;
    background-color: hsl(207, 76%, 53%);
    font-size: 1.7rem;
    color:white;
    border:none;
    border-radius: 5px;
}

.goback-button{
    height:8%;
    display: flex;
    justify-content:center;
}

.goback-button button{
    height:100%;
    border-radius: 10px;
    border-width: 3px;
    border-color: hsl(207, 76%, 53%);
}