
.tabs{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    width:90%;
    margin-top:1rem;
}

.tabs-header{
    width:90%;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    height:20%;
}

.tab{
    width:30%;
}

.tab button{
    background-color: $primary-color;
    border-radius: 5px;
    border:none;
    width:100%;
    height:100%;
}

.tab button.active{
    border-radius: 5px;
    border:none;
    width:100%;
    height:100%;
    background-color: $secondary-color;
}

.tab button p{
    color:white;
}

.tabs-contents{
    height:65%;
}

.tab-content{
    position: relative;
    height:16%;
    width:39%;
    border-radius: 5px;
}

.tab-content.length{
    position: absolute;
    opacity: 0;
}

.tab-content p{
    color: white;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tab-content.length.active{
    opacity: 1;
    background-color: $secondary-color;
}

.tab-content.address{
    position: absolute;
    opacity: 0;
}

.tab-content.address.active{
    opacity: 1;
    background-color: $secondary-color;
}

.tab-content.required{
    position: absolute;
    opacity: 0;
    background-color: $secondary-color;
}

.tab-content.required.active{
    opacity:1;
}