.team{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding:0 16%;
    margin-bottom: 10em;
}

.team-title{
    margin-bottom: 1em;
}

.team-title h2{
    text-transform: uppercase;
    color:rgb(39, 39, 39);
    font-size: 3rem;
}

.team-description{
    width:60%;
    margin-bottom: 5rem;
}

.team-description h3{
    font-weight: 100;
    word-spacing: 0.2rem;
    line-height: 1.8rem;
    color:hsl(0, 0%, 56%);
    text-align: center;
}

.four-columns{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:2rem;
    height:24rem;
}

.team-column{
    height: 100%;
    width: 100%;
}

.team-member{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:0.7rem;
    position:relative;
}

.team-member-socials{
    background-color: grey;
    border-radius: 50px;
    padding: 0.5rem;
    position:absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    z-index: 1001;
}

.team-member-socials.active{
    background-color: grey;
    border-radius: 50px;
    padding: 0.5rem;
    position:absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 7rem;
    z-index: 1001;
    display:flex;
    flex-direction: column;
}

.team-member-hamburger{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
}

.team-member-hamburger .line {
    display: block;
    background: #ecf0f1;
    width: 100%;
    height: 0.12rem;
    position: absolute;
    left: 0;
    border-radius: 0.25rem;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.team-member-hamburger .line.line-1 {
    top: 10%;
}

.team-member-hamburger .line.line-2 {
    top: 40%;
}

.team-member-hamburger .line.line-3 {
    top: 70%;
}

.team-member-hamburger:hover .line-1, .team-member-hamburger:focus .line-1 {
    transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
}

.team-member-hamburger:hover .line-3, .team-member-hamburger:focus .line-3 {
    transform: translateY(0.25rem);
    -webkit-transform: translateY(0.25rem);
    -moz-transform: translateY(0.25rem);
}

.team-member-hamburger.active .line-1 {
    transform: translateY(0.65rem) translateX(0) rotate(45deg);
    -webkit-transform: translateY(0rem) translateX(0rem) rotate(45deg);
    -moz-transform: translateY(0.65rem) translateX(0) rotate(45deg);
    top: 25%;
}

.team-member-hamburger.active .line-2 {
    opacity: 0;
}

.team-member-hamburger.active .line-3 {
    transform: translateY(-0.65rem) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-0.32rem) translateX(0px) rotate(-45deg);
    -moz-transform: translateY(-0.65rem) translateX(0) rotate(-45deg);
    top: 40%;
}

.team-member-image{
    z-index:999;
    width:100%;
}

.team-member-description h4{
    color:hsl(0, 0%, 57%);
    font-weight: 100;
}

.team-member svg{
    width:100%;
    fill:white;
    opacity: 0;
}

.team-member svg.active{
    opacity: 1;
}
